Repository Team-Questio/questio-api-server, pull requests merged in 2024-08, with the labels that each got.

#14 FEAT/12 CI/CD
  .github/workflows/deploy.yml
  Dockerfile
Labels: ⚙ Setting, 🌏 Deploy

#16 Feat/#12 ci/cd
  .github/workflows/deploy.yml
  Dockerfile
Labels: 🌏 Deploy

#19 Test 없이 빌드하도록 변경
  .github/workflows/deploy.yml
Labels: 🌏 Deploy

#21 product profile이 아닐 경우 cors 모두 허용
  src/main/java/team_questio/questio/security/config/CorsConfig.java
Labels: 🐞 BugFix

#23 oauth-info.yaml 파일 추가 하도록 스크립트작성
  .github/workflows/deploy.yml
Labels: 🌏 Deploy

#29 Hotfix/28 cors
  src/main/java/team_questio/questio/common/exception/GlobalExceptionHandler.java
  src/main/java/team_questio/questio/security/config/CorsConfig.java
Labels: 🐞 BugFix

#30 hotfix: cors 설정 변경
  src/main/java/team_questio/questio/security/config/CorsConfig.java
Labels: 🐞 BugFix

#33 이메일 중복확인 관련 로직 추가
  src/main/java/team_questio/questio/common/exception/code/AuthError.java
  src/main/java/team_questio/questio/security/application/AuthenticationService.java
  src/main/java/team_questio/questio/user/application/UserService.java
  src/test/java/team_questio/questio/user/application/UserServiceTest.java
Labels: 🐞 BugFix

#32 포트폴리오를 생성한 사용자만 접근할 수 있도록 하는 기능
  src/main/java/team_questio/questio/common/exception/code/PortfolioError.java
  src/main/java/team_questio/questio/portfolio/application/PortfolioFacadeService.java
  src/main/java/team_questio/questio/portfolio/application/PortfolioService.java
  src/main/java/team_questio/questio/portfolio/application/command/PortfolioCommand.java
  src/main/java/team_questio/questio/portfolio/application/dto/PortfolioParam.java
  src/main/java/team_questio/questio/portfolio/domain/Portfolio.java
  src/main/java/team_questio/questio/portfolio/persistence/PortfolioRepository.java
  src/main/java/team_questio/questio/portfolio/presentation/PortfolioApiController.java
  src/main/java/team_questio/questio/portfolio/presentation/PortfolioController.java
  src/main/java/team_questio/questio/portfolio/presentation/dto/PortfolioRequest.java
  src/test/java/team_questio/questio/portfolio/application/PortfolioServiceTest.java
Labels: ✨ Feature, 📬 API, 🐞 BugFix

#36 hotfix : 502 Bad GateWay
  src/main/java/team_questio/questio/infra/HaelthycheckController.java
Labels: 🌏 Deploy, 🥰 Accessibility, 📬 API, 🐞 BugFix, 💻 CrossBrowsing

#39 Feat/38 website feedback
  src/main/java/team_questio/questio/feedback/application/FeedbackService.java
  src/main/java/team_questio/questio/feedback/domain/Feedback.java
  src/main/java/team_questio/questio/feedback/persistence/FeedbackRepository.java
  src/main/java/team_questio/questio/feedback/presentation/FeedbackApiController.java
  src/main/java/team_questio/questio/feedback/presentation/FeedbackController.java
  src/main/java/team_questio/questio/feedback/presentation/dto/FeedbackRequest.java
Labels: 📬 API

#41 관계없는 포트폴리오 작업
  src/main/java/team_questio/questio/common/exception/code/GPTError.java
  src/main/java/team_questio/questio/gpt/service/GPTService.java
  src/test/java/team_questio/questio/gpt/service/GPTServiceTest.java
Labels: ✨ Feature, 📬 API

#34 feat deploy.yml : 사용하지 않는 이미지 삭제 스크립트 추가
  .github/workflows/deploy.yml
Labels: 🌏 Deploy

#46 로그인 성공 시 Redirect 하도록 설정
  src/main/java/team_questio/questio/portfolio/presentation/PortfolioController.java
  src/main/java/team_questio/questio/security/filter/AuthenticationResultHandler.java
Labels: ✨ Feature, 📬 API
